nav{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
  &.dark {
    color: white;
    background-color: #313131;
    padding: 17px 50px;
  }
  
  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    i {
      cursor: pointer;
    }
    
    .nav-left {
      .menu-icon, .logo {
        display: inline-block;
      }
      
      .menu-icon {
        margin-right: 60px;
      }
      
      .logo img {
        height: 25px;
      }
    }
    
    .nav-right{
      width: 120px;
      display: flex;
      justify-content: space-between;

      a{
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width: 1024px){
  .nav-container{
    width: 100%;
    padding: 0 40px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-container{
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px){
  .nav-container{
    width: 100%;
    padding: 0 10px;
  }
}
