@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "nav";
@import "menu";
@import "footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: #313b4f;
  text-decoration: none;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.clear > * {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
