footer{
  background-color: #e0caad;
  background-image: url(../img/footer.jpg);
  background-position: left center;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  ul{
    margin: auto;
    display: flex;
    justify-content: center;

    li{
      font-size: 87%;
      padding: 0 20px;
      border-left: 1px solid #313b4f;

      &:first-child{
        border: 0;
      }
    }
  }

  p{
    font-size: 87%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px){
  footer{
    ul{
      li{
        padding: 0 10px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  footer{
    ul{
      flex-direction: column;
      align-items: center;
      li{
        margin-bottom: 20px;
        border: 0;
      }
    }
  }
}
