form{
  max-width: 500px;
  margin: auto;

  @media (max-width: 768px){
    max-width: 100%;
  }

  .form-item{
    margin-bottom: 30px;

    @media (max-width: 768px){
      padding: 0 50px;

      &.editor{
        padding: 0;
      }
    }

    @media (max-width: 480px){
      padding: 0 25px;

      &.editor{
        padding: 0;
      }
    }

    input{
      width: 100%;
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid #313b4f;
      outline: none;
      background-color: transparent;

      &:focus{
        border-bottom: 2px solid #55bbb5;
      }
    }

    textarea{
      width: 100%;
      margin-top: 10px;
    }

    button.cancel{
      float: right;
      padding: 6px 25px;
      font-size: 1em;
      margin-left: 6px;
      border: 0;
      background-color: #d5d5d5;
      cursor: pointer;
    }

    button.submit{
      @extend button.cancel;
      background-color: #75da7a;
      color: white;
      font-weight: bold;
      
      &:disabled {
        cursor: default;
        color: #dddddd;
      }
    }
  }
}

#emailErr,#origPassErr,#passErr,#err {
  color: #e53a3a;
  font-size: 14px;
}

#emailErr,#origPassErr,#passErr {
  margin-left: 20px;
}